<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../helpers/ocean-api.html">
<link rel="import" href="../../helpers/ocean-eye-informationitem.html">
<link rel="import" href="../../helpers/ocean-eye-config.html">

<link rel="import" href="collections/collections-list.html">
<link rel="import" href="collections/collections-details.html">

<dom-module id="collections-view">
  <template>
    <style>
      :host {
        display: block;
      }
      #fabWrapper {
        position: fixed;
        right: var(--page-padding, 15px);
        bottom: var(--page-padding, 15px);
      }
      [hidden] {
        display: none !important;
      }
      .collections_list__header {
        background: #fbfbfb;
        padding: 10px;
        box-shadow: 0px 0px 4px #999;
      }
      .collections_list__header > h4 {
        margin: 7px;
      }
      .collections_list__header > paper-button {
        background-color: var(--main-color);
        color: var(--negative-color);
        display: inline-block;
        margin: auto;
      }
    </style>

    <ocean-api
      id="collectionListApi"
      endpoint="list/collections"
      response="{{_collectionsResponse}}"></ocean-api>
    <ocean-api
      id="collectionDataApi"
      endpoint="collections/read"
      params='{"id":"[[collectionId]]"}'
      response="{{_collectionDetailsResponse}}"></ocean-api>

    <section class="collections__wrapper" hidden$="[[!_collectionListView]]">
      <div class="collections_list__header">
        <h4>Play and define a new collection of information</h4>
        <paper-button on-click="_play">New collection</paper-button>
      </div>
      <collections-list
        selected-collection-id="{{collectionId}}"
        list="[[_collections]]"></collections-list>
      <span on-click="_play" id="fabWrapper">
        <paper-fab icon="add"></paper-fab>
      </span>
    </section>

    <section class="collection_view__wrapper" hidden$="[[_collectionListView]]">
      <paper-button on-click="_showList">Back</paper-button>
      <collections-details collection="[[_collection]]"></collections-details>
    </section>

  </template>

  <script>
    class CollectionsView extends Polymer.Element {
      static get is() { return 'collections-view'; }
      static get properties() {
        return {
          /**
           * Collection ID
           * @type {Number}
           */
          collectionId: {
            type: Number,
            value: -1,
            notify: true,
            reflectToAttribute: true,
            observer: '_collectionSelected',
          },
          /**
           * Collections API response
           * @type {Object}
           */
          _collectionsResponse: {
            type: Object,
            observer: '_collectionsResponseChanged',
          },
          /**
           * Collection details API response
           * @type {Object}
           */
          _collectionDetailsResponse: {
            type: Object,
            observer: '_collectionDetailsResponseChanged',
          },
          /**
           * Collections list
           * @type {Array}
           */
          _collections: {
            type: Object,
            value: () => [],
          },
          /**
           * Collection selected
           * @type {Object}
           */
          _collection: {
            type: Object,
            observer: '_collectionChanged',
          },
          /**
           * Inverse of loaded status of single collection details
           * @type {Boolean}
           */
          _collectionListView: {
            type: Boolean,
            value: true,
          },
        }
      }
      /**
       * Execute query, retrieve list of all collections
       */
      ready(){
        super.ready()
        this.$.collectionListApi.execute()
      }
      /**
       * Handle collections list API response
       * @param {Object}
       */
      _collectionsResponseChanged(response) {
        if (response.status === 'OK') {
          if (response.data.length > 0) {
            this._collections = response.data
          } else {
            console.warn('API collections response', response.data)
          }
        }
      }
      /**
       * Observer for collectionId property
       * @param {Number}
       */
      _collectionSelected(id) {
        // execute query to retrieve collection data
        if (id & id !== -1) this.$.collectionDataApi.execute()
      }
      /**
       * Observer for collection data api callback
       * @param {Object}
       */
      _collectionDetailsResponseChanged(response) {
        if (response.status === 'OK') {
          this._collection = response.data
        }
      }
      /**
       * Observer for collection property
       * Handle the sections display
       * @param {Object}
       */
      _collectionChanged(collection) {
        this._collectionListView = !(collection === null ||
                                     collection === undefined ||
                                     collection.length == 0)
      }
      /**
       * Force list view
       * delete colection data
       */
      _showList() {
        this._collection = null
      }
      /**
       * Start new collection evaluation
       * 'Play'
       * Broadcast event to trigger router and change page
       * see: ready() in ocean-eye-app.html
       */
      _play() {
        this.dispatchEvent(new CustomEvent(CUSTOMEVENTS.CHANGE_PAGE, {
          detail: { page: PAGE.PLAY }
        }))
      }
    }

    window.customElements.define(CollectionsView.is, CollectionsView);
  </script>
</dom-module>
