<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../helpers/ocean-api.html">
<link rel="import" href="../../helpers/ocean-eye-informationitem.html">
<link rel="import" href="../../helpers/ocean-eye-config.html">

<link rel="import" href="collections/collections-list.html">
<link rel="import" href="collections/collections-details.html">

<dom-module id="collections-view">
  <template>
    <style>
      :host {
        display: block;
      }
      #fabWrapper {
        position: fixed;
        right: var(--page-padding, 15px);
        bottom: var(--page-padding, 15px);
      }
      [hidden="true"] {
        display: none;
      }
    </style>

    <ocean-api
      id="collectionListApi"
      endpoint="collections/list"
      response="{{_collections}}"></ocean-api>
    <ocean-api
      id="collectionDataApi"
      endpoint="collections/read"
      params='{"id":"[[collectionId]]"}'
      response="{{_collection}}"></ocean-api>

    <section class="collections__wrapper" hidden$="[[!_collectionLoaded]]">
      <collections-list
        selected-collection-id="{{collectionId}}"
        list="[[_collections]]"></collections-list>
      <span on-click="_play" id="fabWrapper">
        <paper-fab icon="add"></paper-fab>
      </span>
    </section>

    <section class="collection_view__wrapper" hidden$="[[_collectionLoaded]]">
      <paper-button on-click="_showList">Back</paper-button>
      <collections-details collection="[[_collection]]"></collections-details>
    </section>

  </template>

  <script>
    class CollectionsView extends Polymer.Element {
      static get is() { return 'collections-view'; }
      static get properties() {
        return {
          /**
           * Collection ID
           * @type {Number}
           */
          collectionId: {
            type: Number,
            notify: true,
            reflectToAttribute: true,
            observer: '_collectionSelected',
          },
          /**
           * Collections list
           * @type {Array}
           */
          _collections: {
            type: Object,
            value: () => [],
          },
          /**
           * Collection selected
           * @type {Array}
           */
          _collection: {
            type: Object,
            observer: '_collectionChanged',
          },
          /**
           * Loaded status of collection
           * @type {Boolean}
           */
          _collectionLoaded: {
            type: Boolean,
            value: false,
          },
        }
      }
      /**
       * Execute query, retrieve list of all collections
       */
      ready(){
        super.ready()
        this.$.collectionListApi.execute()
      }
      /**
       * Observer for collectionId property
       * @param {Number}
       * @param {Number}
       */
      _collectionSelected(id, oldId) {
        // execute query to retrieve collection data
        if (id) this.$.collectionDataApi.execute()
      }
      /**
       * Observer for collection property
       * Handle the sections display
       *
       */
      _collectionChanged(collection, oldCollection) {
        this._collectionLoaded = collection !== null && collection !== undefined
      }
      /**
       * Force list view
       * delete colection data
       */
      _showList() {
        this._collection = null
      }
      /**
       * Start new collection evaluation
       * 'Play'
       * Broadcast event to trigger router and change page
       * see: ready() in ocean-eye-app.html
       */
      _play() {
        this.dispatchEvent(new CustomEvent(CUSTOMEVENTS.CHANGE_PAGE, {
          detail: { page: PAGE.PLAY }
        }))
      }
    }

    window.customElements.define(CollectionsView.is, CollectionsView);
  </script>
</dom-module>
