<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../../helpers/ocean-api.html">
<link rel="import" href="../../helpers/ocean-eye-informationitem.html">
<link rel="import" href="../../helpers/ocean-eye-config.html">

<link rel="import" href="collections/collections-list.html">
<link rel="import" href="collections/collections-details.html">

<dom-module id="collections-view">
  <template>
    <style>
      :host {
        display: block;
      }
      #fabWrapper {
        position: fixed;
        right: var(--page-padding, 15px);
        bottom: var(--page-padding, 15px);
      }
      paper-fab {
        --paper-fab-background: var(--main-color);
      }
      [hidden] {
        display: none !important;
      }
      .collections_list__header {
        background: #fbfbfb;
        padding: 15px;
        box-shadow: 0px 0px 4px #999;
        border-radius: var(--border-radius);
      }
      .collections_list__header > h4 {
        margin: 7px;
      }
      .collections_list__header > paper-button {
        background-color: var(--main-color);
        color: var(--negative-color);
        display: inline-block;
        margin: auto;
        border-radius: var(--border-radius);
      }
      .dash {
        box-sizing: border-box;
        background: #fff;
        box-shadow: 0px 0px 4px #999;
        padding: 15px;
        border-radius: var(--border-radius);
      }
    </style>

    <ocean-api
      id="collectionListApi"
      endpoint="list/collections"
      response="{{_collectionsResponse}}"></ocean-api>
    <ocean-api
      id="collectionDataApi"
      endpoint="collections/read"
      params=''
      response="{{_collectionDetailsResponse}}"></ocean-api>
    <!-- TODO refactor... this copy and paste -->
    <ocean-api
      id="recentCollectionDataApi"
      endpoint="collections/read"
      response="{{_recentCollectionDetailsResponse}}"></ocean-api>

    <section class="collections__wrapper" hidden$="[[!_collectionListView]]">
      <div class="collections_list__header">
        <h4>Play and define a new collection of information</h4>
        <paper-button on-click="_play">New collection</paper-button>
      </div>
      <br />
      <br />
      <div class="dash">
        <collections-details collection="[[mostRecentCollection]]"></collections-details>
      </div>
      <br />
      <br />
      <h4>Collections list</h4>
      <br />
      <collections-list
        selected-collection-id="{{collectionId}}"
        list="[[_collections]]"></collections-list>
      <span on-click="_play" id="fabWrapper">
        <paper-fab icon="add"></paper-fab>
      </span>
    </section>

    <section class="collection_view__wrapper" hidden$="[[_collectionListView]]">
      <br />
      <paper-button raised on-click="_showList">Back</paper-button>
      <hr />
      <collections-details collection="[[_collection]]"></collections-details>
    </section>

  </template>

  <script>
    class CollectionsView extends Polymer.Element {
      static get is() { return 'collections-view'; }
      static get properties() {
        return {
          /**
           * Collection ID
           * @type {Number}
           */
          collectionId: {
            type: Number,
            value: -1,
            notify: true,
            reflectToAttribute: true,
            observer: '_collectionSelected',
          },
          /**
           * Collections API response
           * @type {Object}
           */
          _collectionsResponse: {
            type: Object,
            observer: '_collectionsResponseChanged',
          },
          /**
           * Collection details API response
           * @type {Object}
           */
          _collectionDetailsResponse: {
            type: Object,
            observer: '_collectionDetailsResponseChanged',
          },
          /**
           * Most recent collection details API response
           * @type {Object}
           */
          _recentCollectionDetailsResponse: {
            type: Object,
            observer: '_recentCollectionDetailsResponseChanged',
          },
          /**
           * Collections list
           * @type {Array}
           */
          _collections: {
            type: Object,
            value: () => [],
          },
          /**
           * Store and visualise in the dash the most recent collection
           * @type {Object}
           */
          mostRecentCollection: {
            type: Object,
            value: () => {return {}},
          },
          /**
           * Collection selected
           * @type {Object}
           */
          _collection: {
            type: Object,
            observer: '_collectionChanged',
          },
          /**
           * Inverse of loaded status of single collection details
           * @type {Boolean}
           */
          _collectionListView: {
            type: Boolean,
            value: true,
          },
        }
      }
      /**
       * Execute query, retrieve list of all collections
       */
      ready(){
        super.ready()
        this.refreshList()
      }
      /**
       * Handle collections list API response
       * @param {Object}
       */
      _collectionsResponseChanged(response) {
        if (response.status === 'OK') {
          if (response.data.length > 0) {
            this._collections = response.data.map(x => {
              // This format might be evaluate on intervals
              // evaluate ages
              let updated = (new Date(x.updated))
              updated.setHours(updated.getHours()+2)
              let age = Date.now() - updated.getTime()
              const dayms = 86400000
              const hourms = 3600000
              // more than one day, we show the days otherwise mitutes
              if (age > dayms) {
                x.age = `${Math.round(age / 86400000)} days ago`
              } else if (age > hourms) {
                x.age = `${Math.round(age / 3600000)} hours ago`
              } else {
                x.age = 'now'
              }
              return x
            })
            // set most recent collection
            this.$.recentCollectionDataApi.params = { id: this._collections[0].id }
            this.$.recentCollectionDataApi.execute()
          } else {
            console.warn('API collections response', response.data)
          }
        }
      }
      /**
       * Observer for collectionId property
       * @param {Number}
       */
      _collectionSelected(id) {
        console.log(id);
        // execute query to retrieve collection data
        if (id && id !== -1) {
          // set parameters
          this.$.collectionDataApi.params = { id }
          // execute api call
          this.$.collectionDataApi.execute()
        }
      }
      /**
       * Observer for collection data api callback
       * @param {Object}
       */
      _collectionDetailsResponseChanged(response) {
        if (response.status === 'OK') {
          //
          // Ocean Eye selection module
          // sort and pick first 7 items per category
          //
          // number of selectable items per category
          const N = 7
          // sort function
          let s = (a, b) => b.total - a.total
          // evaluate total
          let data = response.data.map(x => {
            x.total = parseInt(x.actionable_) + parseInt(x.motivation_) +
                      parseInt(x.leading_) + parseInt(x.frequency_)
            return x
          })
          let customer  = data.filter(x => x.dimension === 'customer').sort(s)
          let product   = data.filter(x => x.dimension === 'product').sort(s)
          let resource  = data.filter(x => x.dimension === 'resource').sort(s)
          this._collection = {
            informationitems: {
              customer: JSON.parse(JSON.stringify(customer)).slice(0, N),
              product: JSON.parse(JSON.stringify(product)).slice(0, N),
              resource: JSON.parse(JSON.stringify(resource)).slice(0, N)
            }
          }
          // show detail section
          this._collectionListView = false
        }
      }
      /**
       * Observer for collection data api callback
       *
       *
       * TODO TODO TODO copy and paste to be rectored asap
       *
       *
       * @param {Object}
       */
      _recentCollectionDetailsResponseChanged(response) {
        if (response.status === 'OK') {
          //
          // Ocean Eye selection module
          // sort and pick first 7 items per category
          //
          // number of selectable items per category
          const N = 7
          // sort function
          let s = (a, b) => b.total - a.total
          // evaluate total
          let data = response.data.map(x => {
            x.total = parseInt(x.actionable_) + parseInt(x.motivation_) +
                      parseInt(x.leading_) + parseInt(x.frequency_)
            return x
          })
          let customer  = data.filter(x => x.dimension === 'customer').sort(s)
          let product   = data.filter(x => x.dimension === 'product').sort(s)
          let resource  = data.filter(x => x.dimension === 'resource').sort(s)
          this.mostRecentCollection = {
            informationitems: {
              customer: JSON.parse(JSON.stringify(customer)).slice(0, N),
              product: JSON.parse(JSON.stringify(product)).slice(0, N),
              resource: JSON.parse(JSON.stringify(resource)).slice(0, N)
            }
          }
        }
      }
      /**
       * Observer for collection property
       * Handle the sections display
       * @param {Object}
       */
      _collectionChanged(collection) {
        // this._collectionListView = (collection !== null &&
        //                             collection !== undefined)
      }
      /**
       * Force list view
       * delete colection data
       */
      _showList() {
        this._collection = null
        this._collectionListView = true
        this.collectionId = -1
      }
      /**
       * Start new collection evaluation
       * 'Play'
       * Broadcast event to trigger router and change page
       * see: ready() in ocean-eye-app.html
       */
      _play() {
        this.dispatchEvent(new CustomEvent(CUSTOMEVENTS.CHANGE_PAGE, {
          detail: { page: PAGE.PLAY }
        }))
      }
      /**
       * Refresh list, calling APIs
       */
      refreshList() {
        this.$.collectionListApi.execute()
      }
    }

    window.customElements.define(CollectionsView.is, CollectionsView);
  </script>
</dom-module>
