<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../helpers/ocean-api.html">
<link rel="import" href="../../helpers/ocean-eye-config.html">
<link rel="import" href="./play/flipping-cards.html">
<link rel="import" href="./play/tuning-problem.html">
<!-- <link rel="import" href="./play/end-game.html"> -->

<dom-module id="play-view">
  <template>
    <style>
      :host {
        display: block;
      }
      * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
               user-select: none;
      }
    </style>

    <ocean-api
      id="cardsAPI"
      endpoint="play/cards"
      response="{{_cardsResponse}}"></ocean-api>

    <!-- TODO logger to store activities
    <ocean-api
      id="loggerAPI"
      endpoint="log/play"
      response="{{loggerStatus}}"></ocean-api> -->

    <iron-pages
        selected="[[_step]]"
        attr-for-selected="data-step">
      <flipping-cards id="first" data-step="1" cards="{{informationitems}}"></flipping-cards>
      <tuning-problem id="second" data-step="2" cards="{{selectedItems}}"></tuning-problem>
      <!-- <end-game data-step="3"></end-game> -->
    </iron-pages>

  </template>

  <script>
    class PlayView extends Polymer.Element {
      static get is() { return 'play-view'; }
      static get properties() {
        return {
          /**
           * Status
           * @type {String}   standby or working
           */
          status: {
            type: String,
            value: 'standby',
          },
          /**
           * Steps
           * @type {Number}   1 or 2
           */
          _step: {
            type: Number,
            value: 1,
          },
          /**
           * Logs -> track user activity
           * NOTE logs are overriden at each page reload
           * @type {Array}
           */
          logs: {
            type: Array,
            value: () => [],
          },
          /**
           * Cards API response
           * @type {Object}
           */
          _cardsResponse: {
            type: Object,
            observer: '_cardsResponseChanged',
          },
          /**
           * Selected information items
           * Filtered from the flipping-cards
           * @type {Array}
           */
          selectedItems: {
            type: Array,
            value: () => [],
          },
          /**
           * LocalStorage
           * @type {Object}
           */
          _localItems: {
            type: Object,
            value: () => {
              let items = []
              try {
                items = JSON.parse(window.localStorage.getItem('game'))
              } catch (e) {
                console.warn(e)
              }
              return items
            },
            observer: '_localItemsChanged',
          },
        }
      }
      /**
       * Register event listeners
       */
      ready() {
        super.ready()
        if (!this._localItems || this._localItems.length <= 0 ||
            !Array.isArray(this._localItems)) {
          // get cards from db
          this.$.cardsAPI.execute()
        } else {
          this.informationitems = this._localItems
          this._updateSelectedItems()
        }
        // listen to items/cards updates from flipping-cards
        this.$.first.addEventListener(CUSTOMEVENTS.UPDATE_ITEMS, e => {
          if (e.detail.items) {
            this._updateItemsEvent(e.detail.items)
          }
          if (e.detail.item) {
            this._informationitemUpdated(e.detail.item)
          }
          // refresh data for tuning-problem view
          this._updateSelectedItems()
        })
        // listen to items/cards updates from tuning-problem
        this.$.second.addEventListener(CUSTOMEVENTS.UPDATE_ITEMS, e => {
          if (e.detail.items) {
            this._localItemsChanged(this._localItems)
          }
          if (e.detail.item) {
            this._informationitemUpdated(e.detail.item)
          }
        })
        // listen to player navigator
        this.$.first.addEventListener(CUSTOMEVENTS.PLAY_NAVIGATOR, e => {
          this._move(e.detail.step)
        })
        this.$.second.addEventListener(CUSTOMEVENTS.PLAY_NAVIGATOR, e => {
          this._move(e.detail.step)
        })
      }
      /**
       * Update Items event callback
       * @param {Array}    items
       */
      _updateItemsEvent(items) {
        if (items && items.length <= 0) return
        // path to restore changes in localstorage
        // NOTE need to understand how to notify
        //      changes on an array item properties
        //      to avoid this patch
        this._localItems = items
        this._localItemsChanged(this._localItems)
      }
      /**
       * Listen to information items update activity
       * @param {Object}   activity
       */
      _informationitemUpdated(activity) {
        // TODO make logs more verbose
        // update logs
        this.logs.push({ activity, time: new Date() })
        // update localstorage logs
        window.localStorage.setItem('logs', JSON.stringify(this.logs))
      }
      /**
       * Update selected items for the 'tuning-problem'
       */
      _updateSelectedItems() {
        this.set('selectedItems', this.informationitems.filter(x => {
          return !x.flipped
        }))
      }
      /**
       * Navigate play steps
       * @param {String}   target step
       */
      _move(target) {
        switch (target) {
          case PLAY.END:
            // TODO close play session
            // TODO log activity
            break;
          case PLAY.TUNING:
            this._step = 2
            break;
          case PLAY.FLIPPING:
          default:
            this._step = 1
        }
      }
      /**
       * Handle API response
       * @param {Object}
       */
      _cardsResponseChanged(response) {
        if (response.status === 'OK') {
          if (response.data.length > 0) {
            this.informationitems = response.data
            this._localItems = response.data
            // set element for the tuning-problem (initially all are selected)
          } else {
            console.warn('API cards response', response.data)
          }
        }
        // TODO demo only
        this._updateSelectedItems()
        this.informationitems = [
          {
            id: 1,
            name: 'Churn Rate',
            summary: 'Proportion of customers who leave a supplier during a given time period',
            flipped: false,
            actionable: 1,
            motivation: 1,
            leading: 1,
            frequency: 1,
          },
          {
            id: 2,
            name: 'Churn Rate',
            summary: 'Proportion of customers who leave a supplier during a given time period',
            flipped: false,
            actionable: 1,
            motivation: 1,
            leading: 1,
            frequency: 1,
          },
          {
            id: 3,
            name: 'Churn Rate',
            summary: 'Proportion of customers who leave a supplier during a given time period',
            flipped: false,
            actionable: 1,
            motivation: 1,
            leading: 1,
            frequency: 1,
          }
        ]
        this._localItems = this.informationitems
      }
      /**
       * Observer for localstorage
       * @param {Array}   items
       */
      _localItemsChanged(items) {
        window.localStorage.setItem('game', JSON.stringify(items))
      }
    }

    window.customElements.define(PlayView.is, PlayView);
  </script>
</dom-module>
