<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/mixins/mutable-data.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/paper-fab/paper-fab.html">

<link rel="import" href="flipping-cards-form.html">

<link rel="import" href="../../../helpers/ocean-eye-informationitem.html">
<link rel="import" href="../../../helpers/ocean-eye-config.html">

<dom-module id="flipping-cards">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
      }
      ocean-eye-informationitem,
      #mockNewItem {
        min-height: 200px;
        min-width: 150px;
        max-width: 230px;
        background-color: #fff;
        box-shadow: 0px 0px 3px #999;
        cursor: pointer;
        vertical-align: middle;
        box-sizing: border-box;
        margin-right: 20px;
        margin-bottom: 15px;
      }
      #mockNewItem {
        position: relative;
        width: 230px;
        display: inline-block;
        font-size: 24px;
        color: #888;
        font-weight: 900;
        padding: 15px;
        background-color: #eee;
      }
      #mockNewItem > span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
      #fabWrapper {
        position: fixed;
        right: var(--page-padding, 15px);
        bottom: var(--page-padding, 15px);
      }
      #fabWrapperHome {
        position: fixed;
        left: var(--page-padding, 15px);
        bottom: var(--page-padding, 15px);
      }
      paper-fab {
        --paper-fab-background: var(--main-color);
      }
    </style>

    <h3>Flipping Cards</h3>
    <slot><!-- rules --></slot>
    <hr />
    <br />

    <flipping-cards-form
      id="form"
      visible="{{formVisible}}"
      new-item="{{newItem}}">
    </flipping-cards-form>

    <div id="mockNewItem" on-click="_addInfo">
      <!-- TODO svg plus -->
      <span>New<br>information<br>item</span>
    </div>

    <template is="dom-repeat" id="list" items="[[cards]]" as="item">
      <ocean-eye-informationitem
        on-click="_flip"
        info="[[item]]"
        summary></ocean-eye-informationitem>
    </template>

    <span on-click="_backHome" id="fabWrapperHome">
      <paper-fab icon="home"></paper-fab>
    </span>
    <span on-click="_nextStep" id="fabWrapper">
      <paper-fab icon="arrow-forward"></paper-fab>
    </span>

  </template>

  <script>
    class FlippingCards extends Polymer.MutableData(Polymer.Element) {
      static get is() { return 'flipping-cards'; }
      static get properties() {
        return {
          /**
           * Cards || Information items
           * @type {Array}   [{ name: String, flipped: Boolean }]
           */
          cards: {
            type: Array,
            notify: true,
            reflectToAttribute: true,
            value: () => [],
          },
          /**
           * Form visibility toggle
           * @type {Boolean}
           */
          formVisible: {
            type: Boolean,
            value: false,
            observer: '_formVisibleChanged',
          },
          /**
           * Observe new items added
           * @type {Object}
           */
          newItem: {
            type: Object,
            observer: '_newItemChanged',
          }
        }
      }
      /**
       * Flip a card
       * @param {Object}    event
       */
      _flip(e) {
        // get the information-item clicked element
        let element = e.path.filter(
          x => x.nodeName === 'OCEAN-EYE-INFORMATIONITEM'
        )[0]
        // flip property
        element.info.flipped = !element.info.flipped
        // flip visualization
        element.disabled = element.info.flipped
        this._notifyUpdate(element.info)
      }
      /**
       * Notify an update
       * @param {Object}    item
       */
      _notifyUpdate(item) {
        // notify change to play-view
        this.dispatchEvent(new CustomEvent(CUSTOMEVENTS.UPDATE_ITEMS, {
          detail: { item: item, items: this.cards }
        }))
      }
      /**
       * Add new informationitem
       */
      _addInfo() {
        this.$.form.visible = true
        this.$.mockNewItem.setAttribute('style','display:none');
      }
      /**
       * Observe form visibility (toggle)
       * @param {Boolean}
       */
      _formVisibleChanged(visible) {
        if (!visible) {
          this.$.mockNewItem.removeAttribute('style');
        }
      }
      /**
       * Append new added item
       * @param {Object}    item
       */
      _newItemChanged(item) {
        // reset form
        this.$.form.reset()
        // append item
        this.push('cards', item)
        // notify
        this._notifyUpdate(item)
      }
      /**
       * Move to the next step -> 'tuning-problem'
       * Broadcast event listened by 'play-view'
       */
      _nextStep() {
        this.dispatchEvent(new CustomEvent(CUSTOMEVENTS.PLAY_NAVIGATOR, {
          detail: { step: PLAY.TUNING }
        }))
      }
      /**
       * Go back to collections list view
       */
      _backHome() {
        this.dispatchEvent(new CustomEvent(CUSTOMEVENTS.CHANGE_PAGE, {
          detail: { page: PAGE.COLLECTIONS }
        }))
      }
    }

    window.customElements.define(FlippingCards.is, FlippingCards);
  </script>
</dom-module>
