<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- <link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../../bower_components/iron-list/iron-list.html"> -->

<link rel="import" href="../../../helpers/ocean-eye-informationitem.html">

<dom-module id="flipping-cards">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
      }
      ocean-eye-informationitem,
      #mockNewItem {
        min-height: 200px;
        min-width: 150px;
        background-color: #fff;
        box-shadow: 0px 0px 3px #999;
        cursor: pointer;
        vertical-align: middle;
        box-sizing: border-box;
      }
      #mockNewItem {
        display: inline-block;
        text-align: center;
        font-size: 24px;
        color: #888;
        font-weight: 900;
        padding: 15px;
        background-color: #eee;
      }
      #newInfoForm {
        display: none;
        position: absolute;
      }
    </style>

    <!-- <div id="newInfoForm">
      <input />

      TODO use the
      <flipping-cards-form visible="[[formVisible]]" response="{{infoAdded}}">
      </flipping-cards-form>

      <button on-click="_storeItem">ADD</button>
    </div> -->

    <div id="mockNewItem" on-click="_addInfo">
      <!-- TODO svg plus -->
      <span>New<br>information<br>item</span>
    </div>

    <dom-repeat items="[[cards]]" as="item">
      <template>
        <ocean-eye-informationitem
          on-click="_flip"
          info="[[item]]"
          summary></ocean-eye-informationitem>
      </template>
    </dom-repeat>

  </template>

  <script>
    class FlippingCards extends Polymer.Element {
      static get is() { return 'flipping-cards'; }
      static get properties() {
        return {
          /**
           * Cards || Information items
           * @type {Array}   [{ name: String, flipped: Boolean }]
           */
          cards: {
            type: Array,
            notify: true,
            reflectToAttribute: true,
            value: () => [],
          },
        }
      }
      /**
       * Flip a card
       * @param {Object}    event
       */
      _flip(e) {
        // get the information-item clicked element
        let element = e.path.filter(
          x => x.nodeName === 'OCEAN-EYE-INFORMATIONITEM'
        )[0]
        // flip property
        element.info.flipped = !element.info.flipped
        // flip visualization
        element.disabled = element.info.flipped
      }
      /**
       * Add new informationitem
       */
      _addInfo() {
        // TODO show the form
        // this.formVisible = true
      }
      /**
       * Observe new informatio added
       * @param {Object}    item
       */
      _infoAddedChanged(item) {
        // TODO add item to cards (default selected)
      }
    }

    window.customElements.define(FlippingCards.is, FlippingCards);
  </script>
</dom-module>
