<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../../../helpers/ocean-eye-informationitem.html">

<dom-module id="collections-details">
  <template>
    <style>
      :host {
        display: block;
      }
      h4 {
        text-align: left;
      }
      .informationitems__container {
        box-sizing: border-box;
        margin: 15px auto;
        background: #fbfbfb;
        border-radius: var(--border-radius);
        padding: 15px;
      }
      ocean-eye-informationitem {
        min-height: 200px;
        min-width: 150px;
        max-width: 230px;
        background-color: #fff;
        box-shadow: 0px 0px 3px #999;
        vertical-align: middle;
        box-sizing: border-box;
        margin-right: 20px;
        margin-bottom: 15px;
      }
    </style>

    <!-- <paper-item>
      <paper-item-body two-line>
        <div>[[collection.owner]]</div>
        <div secondary>[[collection.updated]]</div>
      </paper-item-body> -->
      <!-- TODO add events to load the page  -->
      <!-- <iron-icon icon="favorite"></iron-icon> -->
    <!-- </paper-item> -->
    <!-- <paper-item>
      <p>[[collection.notes]]</p>
    </paper-item> -->
    <div class="informationitems__wrapper">
      <div class="informationitems__container informationitems__container--product">
        <h4>Product</h4>
        <template is="dom-repeat" items="[[collection.informationitems.product]]">
          <ocean-eye-informationitem
            info="[[item]]"
            results
            summary></ocean-eye-informationitem>
        </template>
      </div>
      <div class="informationitems__container informationitems__container--resources">
        <h4>Resources</h4>
        <template is="dom-repeat" items="[[collection.informationitems.resource]]">
          <ocean-eye-informationitem
            info="[[item]]"
            results
            summary></ocean-eye-informationitem>
        </template>
      </div>
      <div class="informationitems__container informationitems__container--customer">
        <h4>Customer</h4>
        <template is="dom-repeat" items="[[collection.informationitems.customer]]">
          <ocean-eye-informationitem
            info="[[item]]"
            results
            summary></ocean-eye-informationitem>
        </template>
      </div>
    </div>

  </template>

  <script>
    class CollectionsDetails extends Polymer.Element {
      static get is() { return 'collections-details'; }
      static get properties() {
        return {
          /**
           * Collection selected
           * @type {Object}
           */
          _collection: {
            type: Object,
            value: () => {
              // return {
              //   owner: '',
              //   date: '',
              //   informationitems: {
              //     product: [],
              //     resources: [],
              //     customer: []
              //   }
              // }
              return null
            }
          },
        }
      }
    }

    window.customElements.define(CollectionsDetails.is, CollectionsDetails);
  </script>
</dom-module>
